Exploratory Data Analysis, EDA in short, is the first step taken during data analysis and modeling to better understand data and the relationship between the variables. The process also helps us clean the data; for example, most machine learning algorith cannot handle missing values, so we need to deal with them in the EDA, also we need to make sure all variables are in the right formats. In this notebook I perform EDA on the Western Nile Virus (WNV) dataset found on Kaggle (insert link). You can read more about the WNV here (insert link)

In [6]:
# Importing necessary libraries
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
# Load the data
datapath = os.path.join("data", 'mosquito_data.csv')
df = pd.read_csv(datapath)
df.head(7)

,Year,Week,Address Block,Block,Trap,Trap type,Date,Mosquito number,Mosquito ID,WNV Present,Species,Lat,Lon
0,2019,39,100XX W OHARE AIRPORT,100,T910,GRAVID,2019-09-26 00:09:00,2,Res,negative,CULEX RESTUANS,NaN,NaN
1,2019,39,52XX S KOLMAR AVE,52,T114,GRAVID,2019-09-26 00:09:00,1,Res,negative,CULEX RESTUANS,41.798211,-87.736925
2,2019,39,58XX N WESTERN AVE,58,T028,GRAVID,2019-09-26 00:09:00,2,Res,negative,CULEX RESTUANS,41.987245,-87.689417
3,2019,39,39XX N SPRINGFIELD AVE,39,T228,GRAVID,2019-09-26 00:09:00,1,Res,negative,CULEX RESTUANS,41.953664,-87.724987
4,2019,39,131XX S BRANDON AVE,131,T209,GRAVID,2019-09-26 00:09:00,9,Res,negative,CULEX RESTUANS,41.657069,-87.546049
5,2019,39,21XX N CANNON DR,21,T054C,GRAVID,2019-09-26 00:09:00,2,Res,negative,CULEX RESTUANS,41.921777,-87.632140
6,2019,39,11XX W ROOSEVELT RD,11,T048,GRAVID,2019-09-26 00:09:00,3,Res,negative,CULEX RESTUANS,41.866915,-87.654919

In [11]:
# Inspecting the dataframe
print(f"The data has {df.shape[0]} rows and {df.shape[1]} columns.")

df.info()

The data has 18495 rows and 13 columns.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18495 entries, 0 to 18494
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             18495 non-null  int64
 1   Week             18495 non-null  int64
 2   Address Block    18495 non-null  object
 3   Block            18495 non-null  int64
 4   Trap             18495 non-null  object
 5   Trap type        18495 non-null  object
 6   Date             18495 non-null  object
 7   Mosquito number  18495 non-null  int64
 8   Mosquito ID      18495 non-null  object
 9   WNV Present      18495 non-null  object
 10  Species          18495 non-null  object
 11  Lat              15571 non-null  float64
 12  Lon              15571 non-null  float64
dtypes: float64(2), int64(4), object(7)
memory usage: 1.8+ MB

It looks like all variables are in the right format, except Date which should be a datetime object, so we will need to convert that. Also, the only variables with missing values are Latitude and Longitude, which can filled in by a quick google search!

In [24]:
df['Date'] = pd.to_datetime(df['Date']) # Converting the date to datetime format

df[df['Lat'].isna() & df['Lon'].isna()]['Address Block'].unique() # Checking addresses with missing lat and lon

array(['100XX W OHARE AIRPORT', '4XX W 127TH', '100XX W OHARE',
       '81XX S ASHLAND', '79XX S CHICAGO', '98XX S AVENUE G',
       '65XX N OAK PARK AVE', '115XX S AVENUE L', '30XX S HOYNE',
       '43XX N ASHLAND'], dtype=object)

In [25]:
# Filling in the missing lat and lon values according to the address

df.loc[df['Address Block'] == "100XX W OHARE AIRPORT", ['Lat', 'Lon']] = [41.982151, -87.897568]
df.loc[df['Address Block'] == "4XX W 127TH", ['Lat', 'Lon']] = [38.897469, -94.595230]
df.loc[df['Address Block'] == "100XX W OHARE", ['Lat', 'Lon']] = [40.177132, -85.477737]
df.loc[df['Address Block'] == "81XX S ASHLAND", ['Lat', 'Lon']] = [33.413078, -111.816238]
df.loc[df['Address Block'] == "79XX S CHICAGO", ['Lat', 'Lon']] = [42.094158, -79.266510]
df.loc[df['Address Block'] == "98XX S AVENUE G", ['Lat', 'Lon']] = [41.709293, -87.5315843]
df.loc[df['Address Block'] == "65XX N OAK PARK AVE", ['Lat', 'Lon']] = [42.015568, -87.794115]
df.loc[df['Address Block'] == "115XX S AVENUE L", ['Lat', 'Lon']] = [41.652009, -87.536241]
df.loc[df['Address Block'] == "30XX S HOYNE", ['Lat', 'Lon']] = [41.854498, -87.676803]
df.loc[df['Address Block'] == "43XX N ASHLAND", ['Lat', 'Lon']] = [40.861585, -82.321826]
# Note that this wouldn't be ideal if we had more missing addresses with missing Lat and Lon. This worked because we only only 10 were missing

Let's take a quick look on the data to see if everything is fixed now!

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18495 entries, 0 to 18494
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             18495 non-null  int64
 1   Week             18495 non-null  int64
 2   Address Block    18495 non-null  object
 3   Block            18495 non-null  int64
 4   Trap             18495 non-null  object
 5   Trap type        18495 non-null  object
 6   Date             18495 non-null  datetime64[ns]
 7   Mosquito number  18495 non-null  int64
 8   Mosquito ID      18495 non-null  object
 9   WNV Present      18495 non-null  object
 10  Species          18495 non-null  object
 11  Lat              18495 non-null  float64
 12  Lon              18495 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(6)
memory usage: 1.8+ MB

Perfect the Date variable is now in the right format and looks like all the Lat and Lon are now all available. Now let's start vizualizing our data. Since the data has the actual latitude and longitude, it would be nice to visualize the distribution of the mosquitoes across the city....

In [24]:
# Check the data types of the columns
df.dtypes

Year                 int64
Week                 int64
Address Block       object
Block                int64
Trap                object
Trap type           object
Date                object
Mosquito number      int64
Mosquito ID         object
WNV Present         object
Species             object
Lat                float64
Lon                float64
dtype: object

All columns have the correct data type except Date, so we should convert it to a datetime format

In [26]:
# Converting date to datetime
df['Date'] = df['Date'].astype('datetime64[ns]')

# rechecking the data types of the columns
df.dtypes

Year                        int64
Week                        int64
Address Block              object
Block                       int64
Trap                       object
Trap type                  object
Date               datetime64[ns]
Mosquito number             int64
Mosquito ID                object
WNV Present                object
Species                    object
Lat                       float64
Lon                       float64
dtype: object

In [32]:
# duplicate_rows = df[df.duplicated()]
# duplicate_rows.head()
# remove duplicates

,Year,Week,Address Block,Block,Trap,Trap type,Date,Mosquito number,Mosquito ID,WNV Present,Species,Lat,Lon
15495,2018,34,100XX W OHARE AIRPORT,100,T912,GRAVID,2018-08-23 00:08:00,3,Pip,positive,CULEX PIPIENS,NaN,NaN
15504,2011,32,100XX W OHARE AIRPORT,100,T916,GRAVID,2011-08-12 00:08:00,11,Pip,positive,CULEX PIPIENS,NaN,NaN
15520,2010,33,100XX W OHARE,100,T903,GRAVID,2010-08-20 00:08:00,27,Res,positive,CULEX RESTUANS,NaN,NaN
15523,2016,34,100XX W OHARE AIRPORT,100,T911,GRAVID,2016-08-25 00:08:00,8,Res,positive,CULEX RESTUANS,NaN,NaN
15528,2017,34,100XX W OHARE AIRPORT,100,T900,GRAVID,2017-08-24 00:08:00,2,Res,positive,CULEX RESTUANS,NaN,NaN