In this notebook, I will perform basic EDA on the Western Nile Virus dataset.

In [1]:
# Import necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
# Load the data
df = pd.read_csv()
df.head()

,Year,Week,Address Block,Block,Trap,Trap type,Date,Mosquito number,Mosquito ID,WNV Present,Species,Lat,Lon
0,2019,39,100XX W OHARE AIRPORT,100,T910,GRAVID,2019-09-26 00:09:00,2,Res,negative,CULEX RESTUANS,NaN,NaN
1,2019,39,52XX S KOLMAR AVE,52,T114,GRAVID,2019-09-26 00:09:00,1,Res,negative,CULEX RESTUANS,41.798211,-87.736925
2,2019,39,58XX N WESTERN AVE,58,T028,GRAVID,2019-09-26 00:09:00,2,Res,negative,CULEX RESTUANS,41.987245,-87.689417
3,2019,39,39XX N SPRINGFIELD AVE,39,T228,GRAVID,2019-09-26 00:09:00,1,Res,negative,CULEX RESTUANS,41.953664,-87.724987
4,2019,39,131XX S BRANDON AVE,131,T209,GRAVID,2019-09-26 00:09:00,9,Res,negative,CULEX RESTUANS,41.657069,-87.546049

In [23]:
# Check the shape of the data   
df.shape

(18495, 13)

The dataset has 18,495 rows and 13 columns

In [24]:
# Check the data types of the columns
df.dtypes

Year                 int64
Week                 int64
Address Block       object
Block                int64
Trap                object
Trap type           object
Date                object
Mosquito number      int64
Mosquito ID         object
WNV Present         object
Species             object
Lat                float64
Lon                float64
dtype: object

All columns have the correct data type except Date, so we should convert it to a datetime format

In [26]:
# Converting date to datetime
df['Date'] = df['Date'].astype('datetime64[ns]')

# rechecking the data types of the columns
df.dtypes

Year                        int64
Week                        int64
Address Block              object
Block                       int64
Trap                       object
Trap type                  object
Date               datetime64[ns]
Mosquito number             int64
Mosquito ID                object
WNV Present                object
Species                    object
Lat                       float64
Lon                       float64
dtype: object

In [32]:
# duplicate_rows = df[df.duplicated()]
# duplicate_rows.head()
# remove duplicates

,Year,Week,Address Block,Block,Trap,Trap type,Date,Mosquito number,Mosquito ID,WNV Present,Species,Lat,Lon
15495,2018,34,100XX W OHARE AIRPORT,100,T912,GRAVID,2018-08-23 00:08:00,3,Pip,positive,CULEX PIPIENS,NaN,NaN
15504,2011,32,100XX W OHARE AIRPORT,100,T916,GRAVID,2011-08-12 00:08:00,11,Pip,positive,CULEX PIPIENS,NaN,NaN
15520,2010,33,100XX W OHARE,100,T903,GRAVID,2010-08-20 00:08:00,27,Res,positive,CULEX RESTUANS,NaN,NaN
15523,2016,34,100XX W OHARE AIRPORT,100,T911,GRAVID,2016-08-25 00:08:00,8,Res,positive,CULEX RESTUANS,NaN,NaN
15528,2017,34,100XX W OHARE AIRPORT,100,T900,GRAVID,2017-08-24 00:08:00,2,Res,positive,CULEX RESTUANS,NaN,NaN