In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\ebaraka\Downloads\mosquito_data.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18495 entries, 0 to 18494
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             18495 non-null  int64
 1   Week             18495 non-null  int64
 2   Address Block    18495 non-null  object
 3   Block            18495 non-null  int64
 4   Trap             18495 non-null  object
 5   Trap type        18495 non-null  object
 6   Date             18495 non-null  object
 7   Mosquito number  18495 non-null  int64
 8   Mosquito ID      18495 non-null  object
 9   WNV Present      18495 non-null  object
 10  Species          18495 non-null  object
 11  Lat              15571 non-null  float64
 12  Lon              15571 non-null  float64
dtypes: float64(2), int64(4), object(7)
memory usage: 1.8+ MB

The date variable is in the wrong format, so we will convert it to datetime format.

In [ ]:
we could also use 

df.select_dtypes('object')

In [5]:
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18495 entries, 0 to 18494
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             18495 non-null  int64
 1   Week             18495 non-null  int64
 2   Address Block    18495 non-null  object
 3   Block            18495 non-null  int64
 4   Trap             18495 non-null  object
 5   Trap type        18495 non-null  object
 6   Date             18495 non-null  datetime64[ns]
 7   Mosquito number  18495 non-null  int64
 8   Mosquito ID      18495 non-null  object
 9   WNV Present      18495 non-null  object
 10  Species          18495 non-null  object
 11  Lat              15571 non-null  float64
 12  Lon              15571 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(6)
memory usage: 1.8+ MB

In [7]:
numeric = df.select_dtypes(exclude=['object']).columns

In [9]:
df[numeric].describe()

,Year,Week,Block,Mosquito number,Lat,Lon
count,18495.000000,18495.000000,18495.000000,18495.000000,15571.000000,15571.000000
mean,2012.905812,31.004001,54.314788,10.879913,41.839963,-87.691642
std,3.725857,4.332020,36.712796,13.475066,0.111374,0.076545
min,2007.000000,20.000000,1.000000,1.000000,41.644720,-87.854473
25%,2010.000000,28.000000,22.000000,2.000000,41.742670,-87.747459
50%,2013.000000,31.000000,51.000000,5.000000,41.845715,-87.691698
75%,2016.000000,34.000000,89.000000,14.000000,41.945961,-87.637873
max,2019.000000,40.000000,132.000000,50.000000,42.017801,-87.531051

In [ ]:
key points: 

year : 2007 to 2019
week = weeks 20 to 40
mosquito number = 1 to 50
mean and median similar in the year, week, lat and long
mean bigger than median in mosquito number right skewed

In [ ]:
visualizing the distribution of the data
subplot(3, 3)
counter = 1
for col in list(numeric):
    plt.subplot(3, 3, counter)
    sns.histplot(df[col])
    counter += 1

In [ ]:
unique values for each categorical variable

for col in list(df.select_dtypes('object').columns):
    print(col)
    print(df[col].unique())
    print('\n')

for cat in list(categorical):
    print(f)

In [ ]:
vizualize distribution of categorical variables cfr numeric

In [ ]:
duplicates

df.groupby(['mosquito Id, species'])['Species'].count()

In [ ]:
df[date].dtd.time.unique()

we drop the date column since we have year and week

In [ ]:
lamda functions are used to filter the data

np..where(df.apply(lambda x: str(x.Block)))